---
title: About
---


<div class="">
  <h3>About Us</h3>

  <p>Founded by Lawrence Mikolajcik in 1980, Insurance Services LLC has grown into one of the Mid-Atlantic's largest independent agencies focused exclusively on the Senior healthcare insurance market.</p>  

  <p>Through it's insurance marketing division, Ruby IM, Insurance Services LLC now brings Field Marketing Organization (FMO) capabilities to areas outside our traditional stonghold of Western Pennsylvania.</p>

  <p>We are currently an FMO for Gateway Health and are committed to helping Gateway succeed as it expands into Kentucky, Ohio, North Carolina, and beyond.</p>

  <p>Insurance Services LLC:  Satisfaction through service since 1980.</p>
  
  <p>Insurance Services LLC is a BBB <A href="http://www.bbb.org/pittsburgh/business-reviews/insurance-agency/insurance-services-llc-in-greensburg-pa-12002974/" target="_blank">A+ rated organization</a>.</p>  
</div>
