
  <h2 class="page-header">
    Contracting
  </h2>

  <p class="" style="margin-bottom: 20px">
    Please choose between paper and online contracting.<br>
    NOTE:  Online contracting can be submitted immediately to the carrier.  <br>
    Paper contracting will take 2-3 business days to submit.
  </p>

  <div class="row">
    <div class="col-sm-4">
      <p>
        <a class="btn btn-lg btn-outline maroon" href="/">Get Contracted Online</a>
      </p>
      <p>Online contracting is administered through SureLC.</p>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <p>
        <a class="btn btn-lg btn-outline" href="#">Paper Contracting PDF</a>
      </p> 
      <ol>
        <li>Download the PDF kit.</li>
        <li>Complete paperwork and submit to Ruby IM.</li>
        <li>Ruby IM will manually enter your information into SureLC.</li>
      </ol> 
    </div>
  </div>
   
