---
title: Recent News
---

  <h2 class="no-margin-top small-caps text-muted">recent news</h2>

  <div class="articles">
    <% recent_news(20).each do |article| %>
    
      <%= render 'article_item', article: article %>

    <% end %>
  </div>
  
