        <div class="row">
      
            <div class="col-md-3">
              
              <%= Chronic.parse(@event[:start_at]).strftime("%^b %-d") %>  
              
              <span style="margin-left:5px"><%= Chronic.parse(@event[:start_at]).strftime("%l:%M %p") %></span>
               
            </div>

            <div class="col-md-9">

              <a href="<%= chop_to_html( @event.identifier ) %>"><%= @event[:title] %></a>
              
            </div>
    
          </div>

