        <div class="article">
           <div class="article-body">

              <a class="title" href="<%= chop_to_html( @event.identifier ) %>"><%= @event[:title] %></a>
              
              
              <span class="text-muted">
                <%= Chronic.parse(@event[:start_at]).strftime("%^b %-d %l:%M %p") %>  
                <%#= Chronic.parse(@event[:start_at]).strftime("%l:%M %p") %>
              </span>
               
            </div>
        </div>

