

  <h2 style="margin-top:0"> <%= @item[:title] %> </h2>
  <h4> <%= Chronic.parse(@item[:start_at]).strftime("%-b %e, %Y %l:%M %p") %> </h4>

  <%= yield %>

  <p><a href="/events">View All Events</a></p>

  <%#= render 'events_sidebar' %>

