<nav class="navbar" id="site-header">
  <div class="container">  
    <div class="navbar-header">
      <a href="/" class="navbar-brand" id="logo" title="Home">Ruby Insurance Marketing  <span style="font-size: 12px; color: #aaa">A division of Insurance Services LLC</span></a>
      
    </div>
  </div>
</nav>
