<nav class="navbar" id="site-header">
  <div class="container">  
    <div class="navbar-header">
      <a href="/" class="navbar-brand" id="logo" title="Home">Ruby Insurance Marketing  <span style="font-size: 12px; color: #aaa">A division of Insurance Services LLC</span></a>
      
    </div>

    <p id="site-contact" class="hidden-xs navbar-text navbar-right"> 
      <%= render 'contact_phone' %>
    </p>
  </div>
</nav>
