
<ul class="list-unstyled">
  <li>
    <a href="/contracting" class="btn btn-outline btn-block maroon">Get Appointed</a>
  </li>

  <li>
    <a href="/carriers/gateway.html" class="btn btn-outline btn-block ">Gateway Health</a>
  </li>

  <li>
    <a href="/news" class="btn btn-outline btn-block">Recent News</a>
  </li>

  <li>
    <a href="/events" class="btn btn-outline btn-block">Upcoming Events</a>
  </li>

  <li>
    <a href="/subscribe" class="btn btn-outline btn-block">Mailing List</a>
  </li>

  <li>
    <a href="/about" class="btn btn-outline btn-block">About Us</a>
  </li>
</ul>
